<main>
  <div class="container">
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, earum? Illum harum ipsa facere doloremque
        quisquam amet iusto cupiditate, obcaecati dolorem atque deleniti? Animi est saepe sint! Perspiciatis repudiandae
        qui libero quidem beatae delectus, nemo suscipit ea quibusdam sequi quisquam quas, saepe doloribus sint
        explicabo magni porro inventore laboriosam esse repellat ab nulla voluptatibus unde enim. Accusamus unde ex quos
        tempora, magni necessitatibus natus soluta error, provident laboriosam iure nisi quod consectetur commodi dicta
        dignissimos reprehenderit? Quis natus vel cum repellendus quos unde! Ducimus inventore laboriosam obcaecati
        aspernatur vel hic corporis voluptatibus dolorum unde facere expedita, illo voluptatum a qui numquam est
        nesciunt impedit? Ipsa ullam nemo quae inventore dolores atque repellat minus ipsam laborum quos totam quasi,
        eligendi nostrum ut sequi, aliquam accusantium porro autem saepe culpa rem ratione? Sint eum cum minima
        accusamus unde est modi, ipsa natus autem assumenda ex sequi porro repellat dolorem repellendus, aperiam quam?
        Optio eaque nulla unde voluptatibus sint atque ipsam cum, esse perspiciatis quo fuga, autem et impedit aut
        asperiores blanditiis. Amet rem repellendus, alias facere ducimus quia quasi animi quas, debitis dicta explicabo
        adipisci sequi soluta!</p>
        <a href="https://github.com/WNortier/phonebook-nodejs-mysql" about="_blank">Code</a>
    </div>
  </div>
</main>